<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>NancyFX - Static View</title>
  </head>
  <body>
    <h1>NancyFX</h1>
    <h2>Example of deploying NancyFX via Mono inside a Docker container</h2>
    <p>
      This view was served by the Nancy (C#).
    </p>
    <ul>
      <li>Scheme: @Model.Scheme</li>
      <li><strong>HostName: @Model.HostName</strong></li>
      <li>Port: @Model.Port</li>
      <li>BasePath: @Model.BasePath</li>
      <li>Path: @Model.Path</li>
    </ul>
    <a href="/">/</a><br/>
    <a href="/machine">/machine</a><br/>
    <hr/>
    For more details, visit:
    <a href="http://blog.benhall.me.uk">http://blog.benhall.me.uk</a><br/>
    <a href="https://www.katacoda.com">http://www.katacoda.com</a><br/>
    <a href="https://github.com/BenHall/nancy-demo-hosting-docker">https://github.com/BenHall/nancy-demo-hosting-docker</a><br/>
    <a href="https://github.com/katacoda/dotnet-nancy-nuget-example">https://github.com/katacoda/dotnet-nancy-nuget-example</a><br/>
</body>
</html>
